@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 5
   Coding Challenge 2

   Author:  George Koufie 
   Date:     11/01/2021 
   Filename: code5-2_flex.css

*/

section {
  display: flex;
  flex-flow: row wrap-reverse;
}

div.card {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 200px;
  justify-content: space-between;
  align-items: center;
}

